body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d4e1ee;
    height: 100vh;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
  }
  img {
    width: 375px;
    border-radius: 10px;
    max-width: 100%;
  }
  h1 {
    font: 1.6em "Outfit";
    font-weight: 800;
    width: 300px;
  }
  p {
    font: 1em "Outfit";
    color: gray;
    width: 300px;
    font-weight: 400;
  }